$primary-font: "Poppins", sans-serif;
$secondary-font: "Cormorant Garamond", serif;

$main-color:#C18E3C;

$primary-bgcolor:#262626;
$secondary-bgcolor:#f7f7f7;
$tertiary-bgcolor:#191919;
$card-bgcolor:#ffffff;
$perfomance-image_bgcolor:#404040;
$reminder__button__btn_bgcolor: #000000;
$rights-bgcolor: #0D0D0D;

$dark-behind_color: #ffffff;
$sub-topic_color: #000000cc;
$paragraph_color: #999999;
$card__text__title_color:#000000;
