.simple-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
}
.simple-card_content {
  display: flex;
  gap: 2rem;
  background-color: #191919;
  padding: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card_content {
    width: 48%;
  }
}
.simple-card .content-image {
  background-color: #262626;
  border-radius: 50%;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
}
.simple-card .content-image img {
  width: 50px;
  padding: 0.5rem;
  filter: invert(50%);
}
.simple-card .content-title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
}
.simple-card .content-description {
  font-family: "Poppins", sans-serif;
  color: #C18E3C;
  font-weight: 600;
  font-size: 0.8rem;
}
@media (min-width: 1025px) {
  .simple-card .content-description {
    text-wrap: nowrap;
  }
}

@media (min-width: 1025px) {
  .simple-card_top {
    flex-direction: row;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.simple-card_top .simple-card_content {
  padding: 1.5rem 3rem;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  gap: 2rem;
}
@media (min-width: 768px) {
  .cards-container {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .cards-container {
    padding: 4rem 2rem;
  }
}
.cards-container .card-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  box-shadow: 1px 1px 12px #C18E3C;
}
.cards-container .card-top_image img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards-container .card-top_image img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.cards-container .over-image {
  position: absolute;
  background-color: #f7f7f7;
  border-radius: 50%;
  bottom: 9rem;
  left: 1rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards-container .over-image {
    left: 3rem;
    right: 3rem;
    bottom: 24rem;
    display: flex;
  }
}
@media (min-width: 1025px) {
  .cards-container .over-image {
    bottom: 12rem;
    left: 2rem;
  }
}
.cards-container .over-image img {
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
  width: 4rem;
  padding: 0.5rem;
}
.cards-container .over-image_upper {
  background-color: #C18E3C;
  bottom: 12rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards-container .over-image_upper {
    bottom: 20rem;
    left: 1rem;
    right: auto;
  }
}
@media (min-width: 1025px) {
  .cards-container .over-image_upper {
    bottom: 12rem;
    left: 0.5rem;
  }
}
.cards-container .over-image_upper img {
  filter: invert(1);
  width: 5rem;
}
.cards-container .card-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cards-container .card-title {
  font-family: "Cormorant Garamond", serif;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}
.cards-container .card-description {
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.simple-card_form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .simple-card_form {
    gap: 0;
  }
}
.simple-card_form .simple-card_lighter {
  background-color: inherit;
  gap: 1rem;
  padding: 2rem 0rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card_form .simple-card_lighter {
    width: 90%;
  }
}
.simple-card_form .content-image_lighter {
  background-color: #404040;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card_form .content-image_lighter {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.simple-card_form .content-image_lighter img {
  width: 4rem;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card_form .content-image_lighter img {
    padding: 0;
  }
}
.simple-card_form .content-title_thin {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card_form .content-title_thin {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .simple-card_form .content-title_thin {
    font-size: 1.5rem;
  }
}
.simple-card_form .content-description_gray {
  color: #999999;
  font-weight: normal;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card_form .content-description_gray {
    font-size: 1rem;
  }
}
@media (min-width: 1025px) {
  .simple-card_form .content-description_gray {
    font-size: 1rem;
    text-wrap: wrap;
  }
}

.cards-hover_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
}
@media (min-width: 1025px) {
  .cards-hover_container {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards-hover_container {
    flex-direction: row;
    gap: 1rem;
  }
}
.cards-hover_container .card-hover_content {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .cards-hover_container .card-hover_content {
    width: 25%;
  }
}
.cards-hover_container .bg-image {
  width: 100%;
  position: relative;
}
@media (min-width: 1025px) {
  .cards-hover_container .bg-image {
    height: 20rem;
  }
}
.cards-hover_container .bg-image:hover img {
  transition: 0.5s;
  filter: brightness(0.5);
}
.cards-hover_container .bg-image:hover .card-hover_text {
  opacity: 1;
  padding-left: 0.5rem;
  transition: 0.5s;
}
@media (min-width: 1025px) {
  .cards-hover_container .bg-image:hover::before {
    content: "";
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: 2px solid #C18E3C;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}
.cards-hover_container .bg-image img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards-hover_container .bg-image img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1025px) {
  .cards-hover_container .bg-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.cards-hover_container .higher {
  height: 17.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards-hover_container .higher {
    height: 40vh;
  }
}
@media (min-width: 1025px) {
  .cards-hover_container .higher {
    height: 13rem;
  }
}
.cards-hover_container .card-hover_text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
@media (min-width: 1025px) {
  .cards-hover_container .card-hover_text {
    opacity: 0;
  }
}
.cards-hover_container .card-hover_text .card-hover_title {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
}
.cards-hover_container .card-hover_description {
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.customer-card_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .customer-card_container {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .customer-card_container {
    padding: 4.5rem;
  }
}
.customer-card_container .customer-card_content {
  display: flex;
  flex-direction: column-reverse;
  background-color: #ffffff;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 12px #C18E3C;
}
.customer-card_container .customer-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-top: 1rem;
}
.customer-card_container .customer-info img {
  width: 5rem;
  border-radius: 50%;
}
.customer-card_container .name {
  font-weight: 500;
  font-size: 1.2rem;
}
.customer-card_container .post {
  color: #C18E3C;
  font-size: 0.8rem;
  font-weight: 600;
}
.customer-card_container .customer-feedback {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
}

.simple-card_footer .simple-card_content {
  padding: 0;
  width: unset;
}
.simple-card_footer .simple-card_content .footer-card_image img {
  width: 5rem;
  height: 5rem;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.simple-card_footer .simple-card_content .post-title {
  color: #999999;
  font-weight: 600;
}
.simple-card_footer .simple-card_content .date {
  color: #C18E3C;
  font-size: 0.8rem;
}
.simple-card_footer .simple-card_content .author {
  color: #C18E3C;
  font-size: 0.8rem;
}
.simple-card_footer .simple-card_content .comments {
  color: #C18E3C;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 25px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: #191919;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 1025px) {
  header {
    position: relative;
  }
}
header .header-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  header .header-container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
}
header .logo {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  header .logo {
    order: 1;
    text-align: center;
  }
}
header .image-logo img {
  width: 15%;
  min-width: 50px;
  max-width: 50px;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
header .brand-name {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.8;
}
@media (min-width: 768px) {
  header .brand-name {
    font-size: 1.5rem;
  }
}
header .brand-area {
  font-size: 1rem;
  font-weight: bold;
  color: #C18E3C;
}
@media (min-width: 768px) {
  header .brand-area {
    font-size: 0.8rem;
    text-wrap: nowrap;
  }
}
header .contact {
  display: flex;
  padding: 0.5rem 0;
  gap: 1rem;
}
@media (min-width: 768px) {
  header .contact {
    align-items: center;
  }
}
@media (min-width: 768px) {
  header .contact-left {
    order: 0;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  header .contact-right {
    order: 2;
  }
}
header .box-image {
  background-color: #C18E3C;
  height: 100%;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  header .box-image {
    height: -moz-fit-content;
    height: fit-content;
  }
}
header .box-image img {
  filter: invert(100%);
  width: 1.5rem;
}
header .contact-title {
  color: #C18E3C;
  font-weight: bold;
}
@media (min-width: 768px) {
  header .contact-title {
    font-size: 0.8rem;
  }
}
header .contact-title span {
  color: #ffffff;
}
header .contact-description {
  color: #999999;
}
@media (min-width: 768px) {
  header .contact-description {
    font-size: 0.8rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  font-family: "Poppins", sans-serif;
  padding: 5rem 2.5rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 5rem 1rem;
  }
}
@media (min-width: 1025px) {
  .navbar {
    flex-direction: row;
    padding: 0rem 2.5rem;
    justify-content: center;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
}
.navbar .navbar-container {
  padding: 1rem 0;
}
@media (min-width: 1025px) {
  .navbar .navbar-container {
    display: flex;
  }
}
.navbar .icon {
  position: absolute;
  top: 1rem;
  background-color: unset;
  border: none;
  cursor: pointer;
  filter: invert(100%);
}
@media (min-width: 1025px) {
  .navbar .icon {
    position: unset;
  }
}
.navbar .icon img {
  width: 1.5rem;
}
@media (min-width: 768px) {
  .navbar .icon img {
    width: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .navbar .list {
    padding: 0rem 1rem;
  }
}
.navbar .pages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1025px) {
  .navbar .pages {
    flex-direction: row;
  }
}
.navbar .pages li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .navbar .pages li a {
    font-size: 1rem;
    font-weight: 500;
  }
}
.navbar #top {
  color: #C18E3C;
}
.navbar .search {
  top: unset;
  bottom: 1rem;
  filter: invert(100%);
}

.Introduction {
  background: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.566)), url(./images/experience.webp);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .Introduction {
    position: relative;
  }
}
.Introduction .Introduction-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem;
}
.Introduction .Introduction-title h1 {
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
}
.Introduction .Introduction-title p {
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.5rem;
}
.Introduction .btn a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  background-color: #C18E3C;
  padding: 1.5rem;
}

.simple-card_container {
  background-color: #262626;
  padding: 4rem 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card_container {
    padding: 4rem 0rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 3rem 1rem;
}
.section .section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .section-title {
  font-family: "Poppins", sans-serif;
  color: #C18E3C;
  align-items: center;
  font-weight: 600;
}
.section .section-subtitle {
  font-family: "Cormorant Garamond", serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
}
@media (min-width: 768px) {
  .section .section-subtitle {
    font-size: 3rem;
  }
}

.black-section {
  background-color: #262626;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .black-section {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .black-section {
    display: flex;
    flex-direction: row-reverse;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding: 5rem 3rem;
  }
}
.black-section .sub-white {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .black-section .sub-white {
    width: 50%;
    font-size: 3rem;
  }
}
.black-section .section-description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #999999;
  text-align: center;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .black-section .section-description {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  .black-section .section-description {
    width: 50%;
  }
}
.black-section .about-image img {
  width: 100%;
  position: relative;
  top: 6rem;
  border-radius: 5px;
}
@media (min-width: 1025px) {
  .black-section .about-image img {
    top: 8rem;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .black-section .about-image {
    padding: 0rem 3rem;
  }
}

.practice-container {
  padding-top: 4rem;
}

.perfomance-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .perfomance-container {
    width: 50%;
  }
}
.perfomance-container .section-intro_left {
  align-items: unset;
}
.perfomance-container .sub-white_left {
  text-align: left;
}
.perfomance-container .section-description_left {
  text-align: left;
  padding-bottom: 2rem;
}
@media (min-width: 1025px) {
  .perfomance-container .section-description_left {
    width: 100%;
  }
}

.form {
  background-color: #ffffff;
}
@media (min-width: 1025px) {
  .form {
    width: 50%;
  }
}
.form .evaluation {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}
.form .form-title {
  color: #C18E3C;
  font-weight: bold;
  font-size: 1rem;
}
.form .form-subtitle {
  font-weight: normal;
}
.form .form-requirements {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1025px) {
  .form .form-requirements {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.form .box {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.form .full-width_desktop {
  width: 100%;
}
.form label {
  color: #C18E3C;
  font-weight: 500;
  padding: 1rem 1rem 0rem;
}
.form .request {
  border: none;
  background-color: inherit;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #999999;
}
.form .btn {
  background-color: #C18E3C;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.reminder {
  background: linear-gradient(rgba(193, 142, 60, 0.896), rgba(193, 142, 60, 0.896)), url(./images/legal-advicer.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .reminder {
    position: relative;
  }
}
@media (min-width: 1025px) {
  .reminder {
    flex-direction: row;
    justify-content: center;
  }
}
.reminder .reminder-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
}
@media (min-width: 1025px) {
  .reminder .reminder-content {
    flex-direction: row;
  }
}
.reminder .reminder-title {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .reminder .reminder-title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
.reminder .reminder-sub {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 300;
}
.reminder .reminder-button {
  padding-top: 1rem;
}
@media (min-width: 1025px) {
  .reminder .reminder-button {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .reminder .reminder-button .reminder-button_absolute {
    position: absolute;
    top: 3rem;
    right: 10rem;
  }
}
.reminder .reminder-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
@media (min-width: 1025px) {
  .reminder .reminder-btn {
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .reminder .reminder-btn .reminder-btn_absolute {
    position: absolute;
    top: 0;
  }
}
.reminder .reminder-btn_white {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.reminder .reminder-content_center {
  align-items: center;
}
@media (min-width: 1025px) {
  .reminder .reminder-content_center {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  font-family: "Poppins", sans-serif;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  padding: 6rem 0.5rem 0rem 0.5rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer-container {
    flex-direction: row;
    padding: 6rem 1rem 0rem 1rem;
    flex-wrap: wrap;
  }
}
@media (min-width: 1025px) {
  footer .footer-container {
    flex-direction: row;
    padding: 5rem 3rem;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  footer .logo-social {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
@media (min-width: 1025px) {
  footer .logo-social {
    width: 25%;
  }
}
footer .logo {
  display: flex;
  flex-direction: column;
}
footer .image-logo {
  padding-left: 1rem;
}
footer .image-logo img {
  width: 10%;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
footer .brand-name {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.8;
}
footer .brand-area {
  font-size: 0.8rem;
  font-weight: bold;
  color: #C18E3C;
  font-family: "Poppins", sans-serif;
}
footer .found-us {
  padding: 1rem 0;
}
footer .found-us .social-info {
  color: #999999;
  font-size: 1rem;
}
footer .social-media {
  display: flex;
  gap: 0.5rem;
}
footer .social-media a {
  background-color: #C18E3C;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
}
footer .social-media img {
  width: 1rem;
  filter: invert(100%);
  vertical-align: middle;
}
footer .posts-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .posts-container {
    width: 45%;
  }
}
@media (min-width: 1025px) {
  footer .posts-container {
    padding-top: 0;
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .sub-nav {
    display: flex;
    width: 100%;
    padding-top: 1rem;
  }
}
@media (min-width: 1025px) {
  footer .sub-nav {
    display: flex;
    justify-content: space-between;
  }
}
footer .nav-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer-nav {
    width: 50%;
    padding: unset;
  }
}
@media (min-width: 1025px) {
  footer .footer-nav {
    padding: unset;
  }
}
footer .footer-nav .explore-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0.5rem;
}
footer .footer-nav .explore-links a {
  color: #999999;
}
footer .questions {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .questions {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  footer .questions {
    padding-bottom: unset;
    width: 65%;
  }
}
footer .questions .contact-way_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .questions .contact-way_footer {
  display: flex;
  gap: 1rem;
}
footer .questions .contact-way_footer .contact-icon img {
  width: 1rem;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
footer .questions .contact-way_footer .howto {
  color: #999999;
  font-size: 0.9rem;
}
@media (min-width: 1025px) {
  footer .questions .contact-way_footer .howto {
    width: 70%;
  }
}

.rights {
  background-color: #0D0D0D;
  font-family: "Poppins", sans-serif;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rights {
    flex-grow: 1;
  }
}
.rights .copy {
  color: #999999;
  font-size: 0.8rem;
  text-align: center;
}
.rights .Colorlib-footer {
  color: #C18E3C;
}/*# sourceMappingURL=style.css.map */