.simple__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple__content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
}
.simple__content .simple__card {
  display: flex;
  gap: 2rem;
  background-color: #191919;
  padding: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple__content .simple__card {
    width: 48%;
  }
}
.simple__content .simple__card__image {
  background-color: #262626;
  border-radius: 50%;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
}
.simple__content .simple__card__image img {
  width: 50px;
  padding: 0.5rem;
  filter: invert(50%);
}
.simple__content .simple__card .content__text__title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
}
.simple__content .simple__card .content__text__description {
  font-family: "Poppins", sans-serif;
  color: #C18E3C;
  font-weight: 600;
  font-size: 0.8rem;
}
@media (min-width: 1025px) {
  .simple__content .simple__card .content__text__description {
    text-wrap: nowrap;
  }
}

@media (min-width: 1025px) {
  .simple__content--top {
    flex-direction: row;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.simple__content--top .simple__card {
  padding: 1.5rem 3rem;
  align-items: center;
}

.cards__container {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  gap: 2rem;
}
@media (min-width: 768px) {
  .cards__container {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .cards__container {
    padding: 4rem 2rem;
  }
}
.cards__container .card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  box-shadow: 1px 1px 12px #C18E3C;
}
.cards__container .card__image img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards__container .card__image img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.cards__container .card__stamp {
  position: absolute;
  background-color: #f7f7f7;
  border-radius: 50%;
  bottom: 9rem;
  left: 1rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards__container .card__stamp {
    left: 3rem;
    right: 3rem;
    bottom: 24rem;
    display: flex;
  }
}
@media (min-width: 1025px) {
  .cards__container .card__stamp {
    bottom: 12rem;
    left: 2rem;
  }
}
.cards__container .card__stamp img {
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
  width: 4rem;
  padding: 0.5rem;
}
.cards__container .card .card__stamp--upper {
  background-color: #C18E3C;
  bottom: 12rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards__container .card .card__stamp--upper {
    bottom: 20rem;
    left: 1rem;
    right: auto;
  }
}
@media (min-width: 1025px) {
  .cards__container .card .card__stamp--upper {
    bottom: 12rem;
    left: 0.5rem;
  }
}
.cards__container .card .card__stamp--upper img {
  filter: invert(1);
  width: 5rem;
}
.cards__container .card__text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cards__container .card__text__title {
  font-family: "Cormorant Garamond", serif;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}
.cards__container .card__text__description {
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.simple__content--form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .simple__content--form {
    gap: 0;
  }
}
.simple__content--form .simple__card--lighter {
  background-color: inherit;
  gap: 1rem;
  padding: 2rem 0rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple__content--form .simple__card--lighter {
    width: 90%;
  }
}
.simple__content--form .simple__card--lighter .simple__card__image--lighter {
  background-color: #404040;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple__content--form .simple__card--lighter .simple__card__image--lighter {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.simple__content--form .simple__card--lighter .simple__card__image--lighter img {
  width: 4rem;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple__content--form .simple__card--lighter .simple__card__image--lighter img {
    padding: 0;
  }
}
.simple__content--form .simple__card--lighter .content__text__title--thin {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple__content--form .simple__card--lighter .content__text__title--thin {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .simple__content--form .simple__card--lighter .content__text__title--thin {
    font-size: 1.5rem;
  }
}
.simple__content--form .simple__card--lighter .content__text__description--gray {
  color: #999999;
  font-weight: normal;
}
@media (min-width: 768px) {
  .simple__content--form .simple__card--lighter .content__text__description--gray {
    font-size: 1rem;
  }
}
@media (min-width: 1025px) {
  .simple__content--form .simple__card--lighter .content__text__description--gray {
    text-wrap: wrap;
  }
}

.card__hover__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
}
@media (min-width: 1025px) {
  .card__hover__container {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__hover__container {
    flex-direction: row;
    gap: 1rem;
  }
}
.card__hover__container .card__hover {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .card__hover__container .card__hover {
    width: 25%;
  }
}
.card__hover__container .card__hover__bg {
  width: 100%;
  position: relative;
}
@media (min-width: 1025px) {
  .card__hover__container .card__hover__bg {
    height: 20rem;
  }
}
.card__hover__container .card__hover__bg img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__hover__container .card__hover__bg img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1025px) {
  .card__hover__container .card__hover__bg img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card__hover__container .card__hover__bg img .higher {
  height: 17.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__hover__container .card__hover__bg img .higher {
    height: 40vh;
  }
}
@media (min-width: 1025px) {
  .card__hover__container .card__hover__bg img .higher {
    height: 13rem;
  }
}
.card__hover__container .card__hover__bg:hover img {
  transition: 0.5s;
  filter: brightness(0.5);
}
.card__hover__container .card__hover__bg:hover .card__hover__text {
  opacity: 1;
  padding-left: 0.5rem;
  transition: 0.5s;
}
@media (min-width: 1025px) {
  .card__hover__container .card__hover__bg:hover::before {
    content: "";
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: 2px solid #C18E3C;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}
.card__hover__container .card__hover__bg .card__hover__text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
@media (min-width: 1025px) {
  .card__hover__container .card__hover__bg .card__hover__text {
    opacity: 0;
  }
}
.card__hover__container .card__hover__bg .card__hover__text__title {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
}
.card__hover__container .card__hover__bg .card__hover__text__description {
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.customer__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .customer__container {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .customer__container {
    padding: 4.5rem;
  }
}
.customer__container .customer__card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #ffffff;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 12px #C18E3C;
}
.customer__container .customer__card__info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-top: 1rem;
}
.customer__container .customer__card__info img {
  width: 5rem;
  border-radius: 50%;
}
@media (min-width: 1025px) {
  .customer__container .customer__card__info .badge {
    display: flex;
    flex-direction: column;
  }
}
.customer__container .customer__card__info .badge__name {
  font-weight: 500;
  font-size: 1.2rem;
}
.customer__container .customer__card__info .badge__post {
  color: #C18E3C;
  font-size: 0.8rem;
  font-weight: 600;
}
.customer__container .customer__card__feedback {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
}

.simple__content--footer .simple__card {
  padding: 0;
  width: unset;
}
.simple__content--footer .simple__card__image__footer img {
  width: 5rem;
  height: 5rem;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.simple__content--footer .simple__card .content__text__title {
  color: #999999;
  font-weight: 600;
  font-size: 1rem;
}
.simple__content--footer .simple__card .content__text__date {
  color: #C18E3C;
  font-size: 0.8rem;
}
.simple__content--footer .simple__card .content__text__author {
  color: #C18E3C;
  font-size: 0.8rem;
}
.simple__content--footer .simple__card .content__text__comments {
  color: #C18E3C;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 25px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #191919;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  .header {
    position: relative;
  }
}
.header .logo {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header .logo {
    order: 1;
    text-align: center;
  }
}
.header .logo__image {
  width: 15%;
  min-width: 50px;
  max-width: 50px;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
@media (min-width: 1025px) {
  .header .logo__image {
    align-self: center;
  }
}
.header .logo .brand__name {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.8;
}
@media (min-width: 768px) {
  .header .logo .brand__name {
    font-size: 1.5rem;
  }
}
.header .logo .brand__area {
  font-size: 1rem;
  font-weight: bold;
  color: #C18E3C;
}
@media (min-width: 768px) {
  .header .logo .brand__area {
    font-size: 0.8rem;
    text-wrap: nowrap;
  }
}
.header .contact {
  display: flex;
  padding: 0.5rem 0;
  gap: 1rem;
}
@media (min-width: 768px) {
  .header .contact {
    align-items: center;
  }
}
.header .contact .box__image {
  background-color: #C18E3C;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
}
.header .contact .box__image img {
  filter: invert(100%);
  width: 1.5rem;
  vertical-align: middle;
}
.header .contact .contact__title {
  color: #C18E3C;
  font-weight: bold;
}
@media (min-width: 768px) {
  .header .contact .contact__title {
    font-size: 0.8rem;
  }
}
.header .contact .contact__title span {
  color: #ffffff;
}
.header .contact .contact__description {
  color: #999999;
}
@media (min-width: 768px) {
  .header .contact .contact__description {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .header .contact--left {
    order: 0;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  .header .contact--right {
    order: 2;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  font-family: "Poppins", sans-serif;
  padding: 5rem 2.5rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 5rem 1rem;
  }
}
@media (min-width: 1025px) {
  .navbar {
    flex-direction: row;
    padding: 0rem 2.5rem;
    justify-content: center;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
}
.navbar__container {
  padding: 1rem 0;
}
@media (min-width: 1025px) {
  .navbar__container {
    display: flex;
  }
}
.navbar__container .icon {
  position: absolute;
  top: 1rem;
  background-color: unset;
  border: none;
  cursor: pointer;
  filter: invert(100%);
}
@media (min-width: 1025px) {
  .navbar__container .icon {
    position: unset;
  }
}
.navbar__container .icon img {
  width: 1.5rem;
}
@media (min-width: 768px) {
  .navbar__container .icon img {
    width: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .navbar__container .list {
    padding: 0rem 1rem;
  }
}
.navbar__container .list .pages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1025px) {
  .navbar__container .list .pages {
    flex-direction: row;
  }
}
.navbar__container .list .pages li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .navbar__container .list .pages li a {
    font-size: 1rem;
    font-weight: 500;
  }
}
.navbar__container .list #top {
  color: #C18E3C;
}
.navbar__container .search {
  top: unset;
  bottom: 1rem;
  filter: invert(100%);
}

.Introduction {
  background: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.566)), url(./images/experience.webp);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .Introduction {
    position: relative;
  }
}
.Introduction__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem;
}
.Introduction__container .Introduction__title h1 {
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
}
.Introduction__container .Introduction__title p {
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.5rem;
}
.Introduction__container .btn a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  background-color: #C18E3C;
  padding: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 4rem 1rem;
}
.section .section__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .section__intro__title {
  font-family: "Poppins", sans-serif;
  color: #C18E3C;
  align-items: center;
  font-weight: 600;
}
.section .section__intro__subtitle {
  font-family: "Cormorant Garamond", serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
}
@media (min-width: 768px) {
  .section .section__intro__subtitle {
    font-size: 3rem;
  }
}

.section--card {
  background-color: #262626;
  padding: 4rem 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section--card {
    padding: 4rem 0rem;
  }
}

.section--black {
  background-color: #262626;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section--black {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .section--black {
    display: flex;
    flex-direction: row-reverse;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding: 5rem 3rem;
  }
}
.section--black .section__intro__subtitle--white {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .section--black .section__intro__subtitle--white {
    width: 50%;
    font-size: 3rem;
  }
}
.section--black .section__description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #999999;
  text-align: center;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section--black .section__description {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  .section--black .section__description {
    width: 50%;
  }
}
.section--black .about__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section--black .about__container .about__image {
    padding: 0rem 3rem;
  }
}
.section--black .about__container .about__image img {
  width: 100%;
  position: relative;
  top: 6rem;
  border-radius: 5px;
}
@media (min-width: 1025px) {
  .section--black .about__container .about__image img {
    top: 8rem;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.section--black .perfomance__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .section--black .perfomance__container {
    width: 50%;
  }
}
.section--black .perfomance__container .section__intro--left {
  align-items: unset;
}
.section--black .perfomance__container .section__intro__subtitle--white--left {
  text-align: left;
}
.section--black .perfomance__container .section__description--left {
  text-align: left;
  padding-bottom: 2rem;
}
@media (min-width: 1025px) {
  .section--black .perfomance__container .section__description--left {
    width: 100%;
  }
}

.form__container {
  background-color: #ffffff;
}
@media (min-width: 1025px) {
  .form__container {
    width: 50%;
  }
}
.form__container .form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}
.form__container .form__intro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__container .form__intro__title {
  color: #C18E3C;
  font-weight: bold;
  font-size: 1rem;
}
.form__container .form__intro__subtitle {
  font-weight: normal;
}
.form__container .form__requirements {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1025px) {
  .form__container .form__requirements {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.form__container .form__requirements .box {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.form__container .form__requirements .box label {
  color: #C18E3C;
  font-weight: 500;
  padding: 1rem 1rem 0rem;
}
.form__container .form__requirements .box .request {
  border: none;
  background-color: inherit;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #999999;
}
.form__container .form__requirements .full__width__desktop {
  width: 100%;
}
.form__container .form__requirements textarea {
  resize: none;
}
.form__container .form__requirements .btn {
  background-color: #C18E3C;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.reminder {
  background: linear-gradient(rgba(193, 142, 60, 0.896), rgba(193, 142, 60, 0.896)), url(./images/legal-advicer.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .reminder {
    position: relative;
  }
}
@media (min-width: 1025px) {
  .reminder {
    flex-direction: row;
    justify-content: center;
  }
}
.reminder__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
}
@media (min-width: 1025px) {
  .reminder__content {
    flex-direction: row;
  }
}
.reminder__content .reminder__text {
  display: flex;
  flex-direction: column;
}
.reminder__content .reminder__text__title {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .reminder__content .reminder__text__title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
.reminder__content .reminder__text__sub {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 300;
}
.reminder__content .reminder__button {
  padding-top: 1rem;
}
@media (min-width: 1025px) {
  .reminder__content .reminder__button {
    padding: 1.5rem;
  }
}
.reminder__content .reminder__button__btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
@media (min-width: 1025px) {
  .reminder__content .reminder__button__btn {
    padding: 1rem 1.5rem;
  }
}
.reminder__content .reminder__button__btn--white {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.reminder__content--center {
  align-items: center;
}
@media (min-width: 1025px) {
  .reminder__content--center {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  font-family: "Poppins", sans-serif;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  padding: 6rem 0.5rem 0rem 0.5rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container {
    flex-direction: row;
    padding: 6rem 1rem 0rem 1rem;
    flex-wrap: wrap;
  }
}
@media (min-width: 1025px) {
  footer .footer__container {
    flex-direction: row;
    padding: 5rem 3rem;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  footer .footer__container .social {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .social {
    width: 25%;
  }
}
footer .footer__container .social__logo {
  display: flex;
  flex-direction: column;
}
footer .footer__container .social__logo__image {
  padding-left: 1rem;
}
footer .footer__container .social__logo__image img {
  width: 10%;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
@media (min-width: 1025px) {
  footer .footer__container .social__logo__image img {
    width: 15%;
  }
}
footer .footer__container .social__logo .social__brand {
  display: flex;
  flex-direction: column;
}
footer .footer__container .social__logo .social__brand__name {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.8;
}
footer .footer__container .social__logo .social__brand__area {
  font-size: 0.8rem;
  font-weight: bold;
  color: #C18E3C;
  font-family: "Poppins", sans-serif;
}
footer .footer__container .social__text {
  color: #999999;
  font-size: 1rem;
  padding: 1rem 0;
}
footer .footer__container .social__media {
  display: flex;
  gap: 0.5rem;
}
footer .footer__container .social__media a {
  background-color: #C18E3C;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
}
footer .footer__container .social__media img {
  width: 1rem;
  filter: invert(100%);
  vertical-align: middle;
}
footer .footer__container .posts__container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .posts__container {
    width: 45%;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .posts__container {
    padding-top: 0;
    width: 25%;
  }
}
footer .footer__container .nav__title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .footer__nav {
    display: flex;
    width: 100%;
    padding-top: 1rem;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav {
    display: flex;
    justify-content: space-between;
  }
}
footer .footer__container .footer__nav__explore {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .footer__nav__explore {
    width: 50%;
    padding: unset;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav__explore {
    padding: unset;
  }
}
footer .footer__container .footer__nav__explore__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0.5rem;
}
footer .footer__container .footer__nav__explore__links a {
  color: #999999;
}
footer .footer__container .footer__nav .footer__nav__questions {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .footer__nav .footer__nav__questions {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav .footer__nav__questions {
    padding-bottom: unset;
    width: 65%;
  }
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us {
  display: flex;
  gap: 1rem;
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us__icon img {
  width: 1rem;
  filter: invert(58%) sepia(36%) saturate(675%) hue-rotate(358deg) brightness(92%) contrast(95%);
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us__howto {
  color: #999999;
  font-size: 0.9rem;
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us__howto {
    width: 70%;
  }
}

.rights {
  background-color: #0D0D0D;
  font-family: "Poppins", sans-serif;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rights {
    flex-grow: 1;
  }
}
.rights .copy {
  color: #999999;
  font-size: 0.8rem;
  text-align: center;
}
.rights .Colorlib-footer {
  color: #C18E3C;
}/*# sourceMappingURL=style.css.map */