.simple-card {
  display: flex;
  gap: 2rem;
  background-color: #191919;
  padding: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 8rem;
  min-width: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card {
    width: 48%;
  }
}
.simple-card__image {
  background-color: #262626;
  border-radius: 50%;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
}
.simple-card__image svg {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  fill: #ffffff;
  vertical-align: middle;
}
@media (min-width: 1025px) {
  .simple-card .content {
    display: flex;
    flex-direction: column;
  }
}
.simple-card .content__title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
}
.simple-card .content__title--thin {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card .content__title--thin {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .simple-card .content__title--thin {
    font-size: 1.5rem;
  }
}
.simple-card .content__title--footer {
  color: #999999;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}
.simple-card .content__title--footer:hover {
  color: #C18E3C;
}
.simple-card .content__description {
  font-family: "Poppins", sans-serif;
  color: #C18E3C;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.simple-card .content__description--gray {
  color: #999999;
  font-weight: normal;
  text-transform: none;
}
@media (min-width: 768px) {
  .simple-card .content__description--gray {
    font-size: 1rem;
  }
}
.simple-card--lighter {
  background-color: inherit;
  gap: 1rem;
  padding: 2rem 0rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card--lighter {
    width: 90%;
  }
}
.simple-card--lighter .simple-card__image--lighter {
  background-color: #404040;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card--lighter .simple-card__image--lighter {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.simple-card--lighter .simple-card__image--lighter svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: #C18E3C;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple-card--lighter .simple-card__image--lighter svg {
    padding: 0;
  }
}
.simple-card--footer {
  padding: 0;
  width: unset;
}
.simple-card--footer__image img {
  width: 5rem;
  height: 5rem;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.simple-card--footer .content__info {
  flex-direction: row;
}
.simple-card--footer .content__info .content__date {
  color: #C18E3C;
  font-size: 0.8rem;
}
.simple-card--footer .content__info .content__author {
  color: #C18E3C;
  font-size: 0.8rem;
}
.simple-card--footer .content__info .content__comments {
  color: #C18E3C;
  font-size: 0.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  box-shadow: 1px 1px 12px #C18E3C;
  flex: 1;
}
@media (min-width: 540px) and (max-width: 1024px) {
  .card {
    min-width: 40%;
  }
}
@media (max-width: 540px) {
  .card {
    min-width: 100%;
  }
}
.card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 16rem;
  -o-object-position: center top;
     object-position: center top;
}
.card__stamp {
  position: absolute;
  background-color: #f7f7f7;
  border-radius: 50%;
  top: 12rem;
  left: 1rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.card__stamp svg {
  width: 4.5rem;
  height: 4.5rem;
  fill: #C18E3C;
  padding: 0.5rem;
}
.card__stamp--upper {
  background-color: #C18E3C;
  bottom: 12rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__stamp--upper {
    bottom: 24rem;
    left: 3rem;
    right: auto;
  }
}
@media (min-width: 1025px) {
  .card__stamp--upper {
    bottom: 12rem;
    left: 0.5rem;
  }
}
.card__stamp--upper svg {
  fill: #ffffff;
}
.card__text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__title {
  font-family: "Cormorant Garamond", serif;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}
.card__description {
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.card__hover {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .card__hover {
    width: 25%;
  }
}
.card__hover__bg {
  width: 100%;
  position: relative;
}
@media (min-width: 1025px) {
  .card__hover__bg {
    height: 20rem;
  }
}
.card__hover__bg img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__hover__bg img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1025px) {
  .card__hover__bg img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card__hover__bg img .higher {
  height: 17.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__hover__bg img .higher {
    height: 40vh;
  }
}
@media (min-width: 1025px) {
  .card__hover__bg img .higher {
    height: 13rem;
  }
}
.card__hover__bg:hover img {
  transition: 0.5s;
  filter: brightness(0.5);
}
.card__hover__bg:hover .card__hover__text {
  opacity: 1;
  padding-left: 0.5rem;
  transition: 0.5s;
}
@media (min-width: 1025px) {
  .card__hover__bg:hover::before {
    content: "";
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: 2px solid #C18E3C;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}
.card__hover__bg .card__hover__text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
@media (min-width: 1025px) {
  .card__hover__bg .card__hover__text {
    opacity: 0;
  }
}
.card__hover__bg .card__hover__text .card__hover__title {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
}
.card__hover__bg .card__hover__text .card__hover__description {
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.card__customer {
  display: flex;
  flex-direction: column-reverse;
  background-color: #ffffff;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 12px #C18E3C;
}
.card__customer .customer__info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-top: 1rem;
}
.card__customer .customer__info img {
  width: 5rem;
  border-radius: 50%;
}
.card__customer .customer__info .badge {
  display: flex;
  flex-direction: column;
}
.card__customer .customer__info .badge__name {
  font-weight: 500;
  font-size: 1.2rem;
}
.card__customer .customer__info .badge__post {
  color: #C18E3C;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.card__customer .customer__feedback {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-family: "Poppins", sans-serif;
}

input,
textarea,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}
.button:hover {
  transform: scale(0.9);
}
.button--big {
  padding: 1.5rem;
  font-size: 1rem;
}
.button--primary {
  background-color: #C18E3C;
  color: #ffffff;
}
.button--secondary {
  background-color: #000000;
  color: #ffffff;
}
.button--tertiary {
  background-color: #ffffff;
  color: #000000;
}

.float-button {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 4rem;
  z-index: 50;
  box-shadow: 2px 2px gray;
  color: white;
  background-color: #C18E3C;
  gap: 0.5rem;
  border-radius: 50px;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .float-button {
    right: 1rem;
  }
  .float-button h3 {
    display: none;
  }
}
.float-button svg {
  fill: #C18E3C;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  display: none;
  position: fixed;
  text-align: center;
  padding: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/legal-advicer.webp);
  background-position: center;
  background-size: cover;
  width: 50%;
  border: 2px solid #C18E3C;
  border-radius: 3px;
  animation: moveUP 1.5s ease;
}
@keyframes moveUP {
  0% {
    top: 100%;
  }
  100% {
    top: 50%;
  }
}
.modal h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  text-transform: uppercase;
  color: #ffffff;
}
.modal .affirmative {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.5s;
}
.modal .affirmative:hover {
  border: 1px solid #C18E3C;
  background-color: transparent;
  color: #C18E3C;
  transform: unset;
}
.modal .negative {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.5s;
}
.modal .negative:hover {
  border: 1px solid #C18E3C;
  background-color: transparent;
  color: #C18E3C;
  transform: unset;
}

.logo {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .logo {
    order: 1;
    text-align: center;
  }
}
.logo svg {
  width: 3rem;
  height: 3rem;
  fill: #C18E3C;
}
@media (min-width: 768px) {
  .logo svg {
    align-self: center;
  }
}
.logo .brand__name {
  color: #ffffff;
  font-weight: bold;
  line-height: 0.8;
}
.logo .brand__area {
  font-size: 1rem;
  font-weight: bold;
  color: #C18E3C;
}

.header {
  display: none;
  padding: 2rem;
  background-color: #191919;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  position: relative;
}
@media (min-width: 1025px) {
  .header {
    display: flex;
  }
}
.header .brand__name {
  font-size: 1.5rem;
}
.header .contact {
  display: flex;
  padding: 0.5rem 0;
  gap: 1rem;
}
@media (min-width: 768px) {
  .header .contact {
    align-items: center;
  }
}
.header .contact .box__image {
  background-color: #C18E3C;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.3rem;
}
.header .contact .box__image svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #ffffff;
  vertical-align: middle;
}
.header .contact .contact__title {
  color: #C18E3C;
  font-weight: bold;
}
@media (min-width: 768px) {
  .header .contact .contact__title {
    font-size: 0.8rem;
  }
}
.header .contact .contact__title span {
  color: #ffffff;
}
.header .contact .contact__description {
  color: #999999;
}
@media (min-width: 768px) {
  .header .contact .contact__description {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .header .contact--left {
    order: 0;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  .header .contact--right {
    order: 2;
  }
}

.navbar {
  position: sticky;
  align-items: baseline;
  top: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  padding: 1rem;
  box-shadow: 0 5px 10px #0D0D0D;
}
.navbar .mobile-navbar {
  display: flex;
  width: 100%;
}
.navbar .logo {
  flex-direction: row;
  margin: 0 auto;
  gap: 1rem;
  text-align: left;
  align-items: end;
}
@media (min-width: 1025px) {
  .navbar {
    flex-direction: row;
    justify-content: center;
  }
  .navbar .logo,
  .navbar .mobile-navbar {
    display: none;
  }
}
.navbar .icon {
  background-color: unset;
  border: none;
  cursor: pointer;
  filter: invert(100%);
}
@media (min-width: 1025px) {
  .navbar .icon {
    position: unset;
    display: none;
  }
}
.navbar .icon img {
  width: 1.5rem;
}
@media (min-width: 768px) {
  .navbar .icon img {
    width: 1.3rem;
  }
}
.navbar .icon--search {
  top: unset;
  bottom: 1rem;
  filter: invert(100%);
  display: none;
}
@media (max-width: 1025px) {
  .navbar .icon--search {
    animation: appear 2s ease;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.navbar .icon--search.search-active {
  display: flex;
}
.navbar__list {
  gap: 1rem;
  padding: 1rem 0rem;
  display: none;
}
@media (max-width: 1025px) {
  .navbar__list {
    animation: appear 2s ease;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.navbar__list.menu-open {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .navbar__list {
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem;
  }
  .navbar__list.menu-open {
    flex-direction: unset;
  }
}
.navbar__list li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.4s;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .navbar__list li a {
    font-size: 1rem;
    font-weight: 500;
  }
}
.navbar__list li a:hover {
  color: #C18E3C;
}

.introduction {
  background: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.566)), url(./images/experience.webp) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .introduction {
    position: relative;
  }
}
.introduction__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2.5rem;
}
.introduction__container .introduction__title h1 {
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
}
.introduction__container .introduction__title p {
  color: #999999;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.5rem;
}
.introduction .button {
  width: -moz-fit-content;
  width: fit-content;
}

.simple__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .simple__content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  .simple__content--top {
    flex-direction: row;
    transform: translateY(-120px);
    max-width: 100%;
    height: 0;
    justify-content: center;
  }
}

.section {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 4rem 1rem;
}
.section .section__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .section__intro__title {
  color: #C18E3C;
  align-items: center;
  font-weight: 600;
}
.section .section__intro__subtitle {
  font-family: "Cormorant Garamond", serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
}
@media (min-width: 768px) {
  .section .section__intro__subtitle {
    font-size: 3rem;
  }
}

.section--card {
  background-color: #262626;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section--card {
    padding: 4rem 0rem;
  }
}

.section--black {
  background-color: #262626;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section--black {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .section--black {
    display: flex;
    flex-direction: row-reverse;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding: 5rem 3rem;
  }
}
.section--black .section__intro__subtitle--white {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .section--black .section__intro__subtitle--white {
    width: 50%;
    font-size: 3rem;
  }
}
.section--black .section__description {
  font-size: 1rem;
  color: #999999;
  text-align: center;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section--black .section__description {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  .section--black .section__description {
    width: 50%;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about__container .about__image {
    padding: 0rem 3rem;
  }
}
.about__container .about__image img {
  width: 100%;
  position: relative;
  top: 6rem;
  border-radius: 5px;
}
@media (min-width: 1025px) {
  .about__container .about__image img {
    top: 8rem;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cards__container {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  padding: 4rem 0;
  gap: 2rem;
}
@media (min-width: 1025px) {
  .cards__container {
    padding: 4rem 2rem;
  }
}

.perfomance__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .perfomance__container {
    width: 50%;
  }
}
.perfomance__container .section__intro--left {
  align-items: unset;
}
.perfomance__container .section__intro__subtitle--white--left {
  text-align: left;
}
.perfomance__container .section__description--left {
  text-align: left;
  padding-bottom: 2rem;
}
@media (min-width: 1025px) {
  .perfomance__container .section__description--left {
    width: 100%;
  }
}
.perfomance__container .simple__content--form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .perfomance__container .simple__content--form {
    gap: 0;
  }
}

.form__container {
  background-color: #ffffff;
  border: 2px solid #C18E3C;
}
@media (min-width: 1025px) {
  .form__container {
    width: 50%;
  }
}
.form__container .form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.form__container .form__intro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__container .form__intro__title {
  color: #C18E3C;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}
.form__container .form__intro__subtitle {
  font-weight: normal;
}
.form__container .form__requirements {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1025px) {
  .form__container .form__requirements {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.form__container .form__requirements .box {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.form__container .form__requirements .box label {
  color: #C18E3C;
  font-weight: 500;
  padding: 1rem 1rem 0rem;
}
.form__container .form__requirements .box .request {
  border: none;
  background-color: inherit;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #999999;
}
.form__container .form__requirements .box .request:focus-visible {
  outline: 2px solid #C18E3C;
}
.form__container .form__requirements .full__width__desktop {
  width: 100%;
}
.form__container .form__requirements textarea {
  resize: none;
}
.form__container .form__requirements .btn {
  background-color: #C18E3C;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.card__hover__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__hover__container {
    flex-direction: row;
    gap: 1rem;
  }
}
@media (min-width: 1025px) {
  .card__hover__container {
    flex-direction: row;
    padding: 3rem 2rem;
  }
}

.reminder {
  background: url(./images/legal-advicer.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .reminder {
    position: relative;
  }
}
@media (min-width: 1025px) {
  .reminder {
    flex-direction: row;
    justify-content: center;
  }
}
.reminder .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #C18E3C;
  filter: opacity(0.8);
  z-index: 5;
}
.reminder__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
  z-index: 10;
}
@media (min-width: 1025px) {
  .reminder__content {
    flex-direction: row;
    align-items: center;
  }
}
.reminder__content .reminder__text {
  display: flex;
  flex-direction: column;
}
.reminder__content .reminder__text .reminder__title {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .reminder__content .reminder__text .reminder__title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
.reminder__content .reminder__text .reminder__sub {
  color: #ffffff;
  font-weight: 300;
}
.reminder__content--center {
  align-items: center;
}
@media (min-width: 1025px) {
  .reminder__content--center {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }
}
.reminder__content--center .reminder__buttons {
  flex-direction: row;
}
@media (max-width: 540px) {
  .reminder__content--center .reminder__buttons {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.5rem;
    padding: 2rem;
  }
}

.customer__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .customer__container {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .customer__container {
    padding: 4.5rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #191919;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1025px) {
  footer .footer__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  footer .footer__container .social {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .social {
    width: 25%;
  }
}
footer .footer__container .social__logo {
  display: flex;
  flex-direction: column;
}
footer .footer__container .social__logo__image {
  padding-left: 1rem;
}
@media (min-width: 1025px) {
  footer .footer__container .social__logo__image {
    padding: unset;
  }
}
footer .footer__container .social__logo__image svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #C18E3C;
}
@media (min-width: 1025px) {
  footer .footer__container .social__logo__image svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}
footer .footer__container .social__logo .social__brand__name {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.8;
}
footer .footer__container .social__logo .social__brand__area {
  font-size: 0.8rem;
  font-weight: bold;
  color: #C18E3C;
}
footer .footer__container .social__text {
  color: #999999;
  font-size: 1rem;
  padding: 1rem 0;
}
footer .footer__container .social__media {
  display: flex;
  gap: 0.5rem;
}
footer .footer__container .social__media a {
  background-color: #C18E3C;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  transition: 0.5s;
}
footer .footer__container .social__media a:hover {
  transform: translateY(-0.5rem);
}
footer .footer__container .social__media svg {
  width: 1rem;
  height: 1rem;
  fill: #ffffff;
  vertical-align: middle;
}
footer .footer__container .posts__container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .posts__container {
    width: 45%;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .posts__container {
    padding-top: 0;
    width: 25%;
  }
}
footer .footer__container .nav__title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .footer__nav {
    display: flex;
    width: 100%;
    padding-top: 1rem;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav {
    display: flex;
    justify-content: space-between;
  }
}
footer .footer__container .footer__nav__explore {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .footer__nav__explore {
    width: 50%;
    padding: unset;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav__explore {
    padding: unset;
  }
}
footer .footer__container .footer__nav__explore__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0.5rem;
}
footer .footer__container .footer__nav__explore__links a {
  color: #999999;
  transition: 0.3s;
}
footer .footer__container .footer__nav__explore__links a:hover {
  color: #C18E3C;
}
footer .footer__container .footer__nav .footer__nav__questions {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__container .footer__nav .footer__nav__questions {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav .footer__nav__questions {
    width: 65%;
  }
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us {
  display: flex;
  gap: 1rem;
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us__icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #C18E3C;
}
footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us__howto {
  color: #999999;
  font-size: 0.9rem;
}
@media (min-width: 1025px) {
  footer .footer__container .footer__nav .footer__nav__questions .contact__us__container .contact__us__howto {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */